/* styles/globals.css */

:root {
  --color-blue: #4BA1B2;  /* Azul */
  --color-pink: #B92784; /* Verde */
  --color-black: #000000; /* Fondo claro */
  --color-white: #FFFFFF; /* Texto oscuro */
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-image: url('/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

Link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

iframe {
  width: 100%;
  max-width: 800px;  /* or your preferred max width */
  height: 450px;     /* 16:9 aspect ratio */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* For responsive design */
@media (max-width: 768px) {
  iframe {
    height: 56.25vw;  /* maintains 16:9 aspect ratio on mobile */
    max-height: 450px;
    margin-top: 20px;
  }
}